<% @page_title = "Delete Team: #{@team.name}" %>

<%= link_to("<< Back to Teams", {:action => 'list'}, :class => 'back-link') %>

<div class="team delete">
  <h2>Delete Team</h2>
  
  <%= form_for(:team, :url => {:action => 'destroy', :id => @team.id}) do |f| -%>

    <p>Are you sure you want to permanently delete this team?</p>
  
    <p class="reference-name"><%= @team.name %></p>
  
    <div class="form-buttons">
      <%= submit_tag("Delete Team") %>
    </div>
    
  <% end %>
</div>
