<% @page_title = "Edit Team: #{@team.name}" %>

<div id="back-button">
<%= link_to("Back", {:action => 'list'}, :class => 'back-link') %>
</div>

<div class="team edit">
  <h2>Update Team</h2>

  <%= form_for(:team, :url => {:action => 'update', :id => @team.id}) do |f| %>
  
    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Update Team") %>
    </div>
    
  <% end %>
</div>
