<% @page_title = "Create Team" %>

<div id="back-button">
<%= link_to("Back", {:action => 'list'}, :class => 'back-link') %>
</div>

<div class="team new">
  <h2>Create Team</h2>

  <%= form_for(:team, :url => {:action => 'create'}) do |f| %>
  
    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Create Team") %>
    </div>
    
  <% end %>
</div>
