/* CSS Document */

body{background:#fff; color:#0F0F0F; font:15px/20px Arial, Helvetica, sans-serif; margin:32px 0 0; padding:0;}
div, ul, h1, h2, h3, li, p, img{margin:0; padding:0;}
ul{list-style-type:none;}

/* TOP PANEL*/
#topPanel{width:762px; height:160px; position:relative; margin:0 auto; padding:0;}
#topPanel img{width:180px; height:180px; z-index:1; padding:0; position:absolute; margin:0 0 0 21px;}
#topPanel .headone { text-align: left; font-size:30px; font-weight:bold; font:Calibri; color:#555; background:#fff;}

/* HEADERS FOR INTERNAL PAGE*/ 
#headtwo {height:30px; text-align: center; font-size:30px; font-weight:bold; font:Calibri; color:#555; background:#fff;}
#sectionHeader {text-align: center; font-size:18px; font-weight:bold; font:Calibri; color:#555; background:#fff;}

/*#sections{width:762px; height:400px; position:relative; margin:0 auto; padding:0;}
*/
.back-button{width:762px; height:15px; position:relative;}
.ticket-list img{width:75px; height:50px; opacity:0.8;}
a.back-link { font-size: .8em; text-align:right;}

/* large action buttons */

a.viewnext { float: left; padding: 3px 7px; margin: 0 0 0 0; 
  background:url(/images/more.gif) no-repeat 0 0 #AEAEAE;  color: #4C2516; width:62px; opacity:0.6; 
  text-decoration: none; font-size: 0.9em; text-align: left; }
a.viewnext:hover { background:url(/images/more1.gif) no-repeat 0 0 #AEAEAE; opacity:0.7; }

/*Actions within ImageView on main index page*/
#imageView{width:400px; height:280px; position:relative; margin:0 auto; padding:15px;}

a.viewbull { float: right; padding: 0px 0; margin: 0 0 4px 0; 
  background:url(/images/chibulls.jpg) no-repeat 0 0;  color: #4C2516; width:380px; height:80px; opacity: 0.5; border-radius:25px;
  text-decoration: none; font-size: 0.9em; text-align: left; }
a.viewbull:hover { background:url(/images/chibulls.jpg) no-repeat 0 0; opacity: 0.9;}

a.viewcub { float: right; padding: 0 0; margin: 0 0 4px 0; 
  background:url(/images/chicubs.jpg) no-repeat 0 0;  color: #4C2516; width:380px; height:80px; opacity: 0.5; border-radius:25px;
  text-decoration: none; font-size: 0.9em; text-align: left; }
a.viewcub:hover { background:url(/images/chicubs.jpg) no-repeat 0 0; opacity: 0.9;}

a.viewsox { float: right; padding: 0 0; margin: 0 0 4px 0; 
  background:url(/images/sox.jpg) no-repeat 0 0;  color: #4C2516; width:380px; height:80px; opacity: 0.5; border-radius:25px;
  text-decoration: none; font-size: 0.9em; text-align: left; }
a.viewsox:hover { background:url(/images/sox.jpg) no-repeat 0 0; opacity: 0.9;}

#purchaseView{width:150px; height:85px; position:relative; margin:0 auto; padding:15px;}

a.purchase { float: right; padding: 2px 0; margin: 0 0 0 0; 
  background:url(/images/buy.jpg) no-repeat 0 0;  color: #4C2516; width:150px; height:85px; opacity: 0.5; border-radius:25px;
  text-decoration: none; font-size: 0.9em; text-align: left; }
a.purchase:hover { background:url(/images/buy.jpg) no-repeat 0 0; opacity: 0.9;}

/* MENU PANEL*/
#topPanel ul{display:block; width:732px; height:36px; position:absolute; top:0; right:0; margin:11px 0 0; padding:0 29px 0 0; border-bottom:1px solid #AEAEAE;}
#topPanel ul li{float:right; font:12px/36px "Trebuchet MS",Arial, Helvetica, sans-serif; font-weight:bold;}
#topPanel ul li a{width:74px; height:36px; display:block; padding:0; color:#555; background:#fff; text-decoration:none; text-align:center; margin:0 1px 0 0; top:0px; left:0px;}
#topPanel ul li a:hover{width:74px; height:36px; text-decoration:none; background:url(images/button.gif) no-repeat 0 0 #AEAEAE; color:#fff;}
#topPanel ul li.active{width:74px; display:block; height:36px; color:#fff; text-align:center; margin:0 1px 0 0;}
/* Search Panel*/
#selectorTop{width:450px; height:200px; position:relative; top:0; left:0; margin:0 auto; padding:0;}
#selectorTop a{width:450px; height:200px; display:block; text-decoration:none; }
#selectorTop h2{display:block; width:90px; height:47px; margin:54px 0 0 120px; font:28px/28px "Trebuchet MS",Arial, Helvetica, sans-serif; font-weight:bold; text-transform:uppercase; position:absolute; top:0px; left:0px; z-index:1;}
#selectorTop p{width:163px; display:block; font:12px/18px Arial, Helvetica, sans-serif; font-weight:bold;  position:absolute; top:0px; left:0px; z-index:1; padding:0; margin:105px 50px 0 38px;}
/* /TOP PANEL*/
#selectorTop ul { text-align:left; list-style: none; padding-left:70px;  }
#selectorTop ul li { margin-bottom: .2em; }

/* BODY PANEL*/
#bodyPanel{width:762px; height:80px; position:relative; margin:0 auto; padding:0;}
#bodyPanel h2{ background:#fff; display:block; width:250px; height:50px; margin:0; font:30px/30px Georgia, "Times New Roman", Times, serif; font-weight:normal; padding:4px 0 0 202px; color:#FF7113;}
#bodyPanel p{margin:0 0 0 54px; padding:0 42px 35px 150px; color:#0F0F0F;}
#bodyPanel p span{font-weight:bold;}
#bodyPanel p.capstext{font:18px/24px Georgia, "Times New Roman", Times, serif; font-style:italic; color:#555555; padding:2px 10px 0 25px ; margin:0 35px 10px 0; }
#bodyPanel p.more{height:26px; padding:0; background:none; margin:0;}
#bodyPanel p.more a{width:76px; height:26px; display:block; margin:314px 20px 19px 618px; background:url(images/more.gif) 0 0 no-repeat #fff; color:#555; text-decoration:none; font:15px/26px "Trebuchet MS",Arial, Helvetica, sans-serif; padding:0 0 0 10px; text-transform:uppercase; position:absolute; top:0px; right:0px;}
#bodyPanel p.more a:hover{background:url(images/more.gif) 0 0 no-repeat #fff; color:#216EBD; text-decoration:none;}
#bodyPanel h3{background:#fff; display:block; width:250px; height:34px; margin:34px 0 12px 0; font:30px/30px Georgia, "Times New Roman", Times, serif; font-weight:normal; padding:0 0 0 20px; color:#FF7113;}
#bodyPanel #testimonial{width:283px; height:162px; display:block; background:url(images/testimonial-bg.gif) 0 0 no-repeat #FFF6DB; padding:32px 33px 0 148px; margin:0 0 0 20px; color:#786321;}
#bodyPanel #testimonial p{background:none; margin:0; padding:0 0 5px 0;}
#bodyPanel #testimonial p span{color:#786321 !Important; background:#FFFAED !Important;}
#bodyPanel p.moretwo{height:26px; padding:0; background:none; margin:0;}
#bodyPanel p.moretwo a{width:76px; height:26px; display:block; margin:0px 0px 0px 196px; background:url(images/more2.gif) 0 0 no-repeat #FFF5D6; color:#555; text-decoration:none; font:15px/26px "Trebuchet MS",Arial, Helvetica, sans-serif; text-transform:uppercase; padding:0 0 0 10px; top:0px; right:0px;}
#bodyPanel p.moretwo a:hover{background:url(images/more2.gif) 0 0 no-repeat #FFF5D6; color:#216EBD; text-decoration:none;}
#bodyPanel h4{ background:#fff; width:250px; height:30px; position:absolute; top:361px; right:5px; margin:0; font:30px/30px Georgia, "Times New Roman", Times, serif; font-weight:normal; padding:0px; color:#FF7113;}
#bodyPanel ul{width:225px; display:block; position:absolute; right:30px; top:405px; }
#bodyPanel ul li{font:12px/25px Arial, Helvetica, sans-serif; font-weight:normal; background:url(images/symbol2.gif) 0 8px no-repeat; padding:0 0 0 30px;}
#bodyPanel ul span{ background:url(images/dot-line.gif) repeat-x 0 100%; height:25px; display:block;}
/* FOOTER PANEL*/
#footerPanel{width:762px; height:60px; position:relative; margin:0 auto; padding:0;}
#footerPanel ul{display:block; width:732px; height:36px; position:absolute; top:0; right:0; margin:11px 0 0; padding:0 29px 0 0; border-top:1px solid #AEAEAE;}
#footerPanel ul li{float:right; font:12px/36px "Trebuchet MS",Arial, Helvetica, sans-serif; font-weight:bold;}
#footerPanel ul li a{width:74px; height:36px; display:block; padding:0; color:#555; background:#fff; text-decoration:none; text-align:center; margin:0 1px 0 0; top:0px; left:0px;}
#footerPanel ul li a:hover{width:74px; height:36px; text-decoration:none; background:url(images/button.gif) no-repeat 0 0 #AEAEAE; color:#fff;}
#footerPanel ul li.active{width:74px; display:block; height:36px; color:#fff; text-align:center; margin:0 1px 0 0;}
#copyright { height: 15px; text-align: left; color:#555; padding: 12px 0px 0px 0px; background:#fff; font:11px Calibri, Arial, Helvetica, sans-serif;}
.clearfooter {
height: 75px;
clear: both;
}