<% @page_title = "Edit Section: #{@section.name}" %>

<div id="back-button">
<%= link_to("Back", {:action => 'list', :ticket_id => @section.ticket_id}, :class => 'back-link') %>
</div>

<div class="section edit">
<div class="menu">	
  <h2>Update Section</h2>
</div>

  <%= form_for :section, :url => {:action => 'update', :id => @section.id} do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>

	  <div class="form-buttons">
	    <%= submit_tag("Submit Request") %>
	  </div>

  <% end %>
</div>
