<% @page_title = "Create Section" %>

<div id="back-button">
<%= link_to("Back", {:action => 'list', :ticket_id => @ticket.id}, :class => 'back-link') %>
</div>

<div class="section new">
<div class="menu">	
  <h2>Create Section</h2>
</div>

  <%= form_for :section, :url => {:action => 'create', :ticket_id => @ticket.id} do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Create Section") %>
    </div>
    
  <% end %>
</div>
