<% @page_title = "Edit Ticket: #{@ticket.name}" %>

<div id="back-button">
<%= link_to("Back", {:action => 'list', :team_id => @team.id}, :class => 'back-link') %>
</div>

<div class="ticket edit">
<div class="menu">	
  <h2>Update Tickets</h2>
</div>

  <%= form_for(:ticket, :url => {:action => 'update', :id => @ticket.id, :team_id => @team.id}) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Update Ticket") %>
    </div>
    
  <% end %>
</div>