<% @page_title = 'Create Admin User' %>

<div id="back-button">
<%= link_to("Back", {:action => 'list'}, :class => 'back-link') %>
</div>

<div class="user new">
<div class="menu">	
  <h2>Create Admin User</h2>
</div>

  <%= form_for(:admin_user, :url => {:action => 'create'}) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f} ) %>
  
    <div class="form-buttons">
      <%= submit_tag('Create Admin User') %>
    </div>
  
  <% end %>
</div>
