<center>
<div id="back-button">
<%= link_to("Back", {:controller => "public", :action => 'index'}, :class => 'back-link') %>
</div>	
<div id="headtwo">Contact Us
</div>
	<table class="ticket listing" summary="Admin users list">
	    <tr>
	      <th>Name</th>
	      <th>Email</th>
	    </tr>
	    <% @admin_users.each do |admin_user| %>
	    <tr class="<%= cycle('odd', 'even') %>">
	      <td><%= admin_user.name %></td>
	      <td><%= mail_to(admin_user.email) %></td>
	    </tr>
	    <% end %>
	  </table>
	
</center>