<body>
<div id="imageView">
      <%= link_to("", {:controller => 'public_ticket', :action => 'show', :team_id => 1}, :class => 'viewbull') %>
      <%= link_to("", {:controller => 'public_ticket', :action => 'show', :team_id => 2}, :class => 'viewcub') %>
      <%= link_to("", {:controller => 'public_ticket', :action => 'show', :team_id => 3}, :class => 'viewsox') %>
</div>

<div id="bodyPanel">
	<center><p class="capstext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Request tickets for Cubs, White Sox, and Bulls games.</p></center>
</div>
</body>