<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<LINK REL="SHORTCUT ICON" HREF="public/favicon.ico" type="image/x-icon"> 
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Jeremy Sinitean">
    <%= stylesheet_link_tag('style') %>
  </head>
  <body>
    <div id="main">
      <div id="navigation">
        <%= render(:partial => 'layouts/navigation', :locals => {:teams => @teams}) %>
      </div>
      <div class="clear"></div>
    </div>
  </body>
</html>
